#basketContainer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 96px;
	left: 0;
	width: 100%;

	.basket-notice {
		position: relative;
		width: 100%;
		height: 60px;
		background-color: #e64f59;
		border-bottom: 1px solid #a6252c; /* no */
		overflow: hidden;

		.notice-icon {
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
			width: 32px;
			height: 40px;
			background: {
				image: url('../imgs/index/notice_icon.png');
				repeat: no-repeat;
				size: cover;
			}
		}

		.notice-msg {
			position: absolute;
			top: 0;
			left: 80px;
			width: 610px;
			margin: 0 auto;
			height: 60px;
			line-height: 60px;
			color: #edf0f0;
		}
	    .str_wrap {
	        overflow:hidden;
	        font-size:24px; /* px */
	        white-space:nowrap;
	        user-select: none;  
	        -webkit-user-select: none;
	        
	        .str_move { 
	            white-space:nowrap;
	            position:absolute; 
	            top:0; 
	            left:0;
	        }
	    }
		.notice-close {
			display: block;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			width: 26px;
			height: 26px;
			background: {
				image: url('../imgs/index/notice_close.png');
				repeat: no-repeat;
				size: cover;
			}
		}
	}

	.basket-wrapper {
		width: 750px;
		margin: 0 auto;
		padding-bottom: 96px; /* TODO */

		.basket {
			width: 100%;

			&.empty {
				display: none;

				.img {
					position: relative;
					width: 100%;
					height: 480px;

					img {
						width: 100%;
					}
				}

				.btn-go {
					display: block;
					position: absolute;
					right: 240px;
					bottom: 20px;
					width: 168px;
					height: 48px;
					line-height: 48px;
					font-size: 22px; /* px */
					color: #323232;
					text-align: center;
					border: 1px solid #323232; /* no */
					border-radius: 5px;
				}
			}

			&.normal {
				section {
					width: 100%;
					margin-top: 20px;
					border-bottom: 1px solid #dcdcdc; /* no */
					background-color: #fff;
				}
				
				.products {

					.header {
						width: 100%;
						height: 100px;

						.select {
							display: block;
							float: left;
							width: 80px;
							height: 100px;
							background: {
								image: url('../imgs/icons/icon_circle_unselect.png');
								repeat: no-repeat;
								size: 42px 42px;
								position: center center;
							}

							&.selected {
								background-image: url('../imgs/icons/icon_circle_selected.png');
							}
						}
						> p {
							float: right;
							width: 670px;
							height: 100px;
							line-height: 100px;
							font-size: 28px; /* px */
							color: #323232;
						}
					}
					.list {
						width: 100%;

						.item {
							width: 100%;
							padding: 40px 0;
							border-bottom: 1px solid #dcdcdc; /* no */

							.wrapper {
								width: 670px;
								margin-left: auto;

								.content {
									position: relative;
									width: 100%;

									.select {
										display: block;
										position: absolute;
										top: 50%;
										left: -70px;
										width: 60px;
										height: 60px;
										transform: translateY(-50%);
										background: {
											image: url('../imgs/icons/icon_circle_unselect.png');
											repeat: no-repeat;
											size: 42px 42px;
											position: center center;
										}

										&.selected {
											background-image: url('../imgs/icons/icon_circle_selected.png');
										}
									}

									.img {
										float: left;
										width: 180px;
										height: 135px;
										border: 1px solid #f0f0f0; /* no */
										overflow: hidden;

										img {
											width: 100%;
										}
									}
									.text {
										float: right;
										width: 440px;
										height: 137px;
										margin-right: 20px;

										.basic {
											float: left;
											width: 300px;

											.name {
												font-size: 28px; /* px */
												color: #323232;
												margin-bottom: 15px;
											}
											.desc {
												line-height: 30px;
												font-size: 22px; /* px */
												color: #b4b4b4;
												display: -webkit-box; 
												-webkit-box-orient: vertical; 
												-webkit-line-clamp: 2; 
												overflow: hidden;
											}
										}
										.ext {
											float: right;
											width: 120px;

											p {
												text-align: right;
											}
											.price {
												font-size: 28px; /* px */
												color: #323232;
												margin-bottom: 15px;
											}
											.original-price {												
												line-height: 30px;
												font-size: 24px; /* px */
												color: #b4b4b4;
												text-decoration: line-through;
											}
											.num {												
												line-height: 30px;
												font-size: 24px; /* px */
												color: #b4b4b4;
											}
										}
									}
								}
								.footer {
									width: 100%;

									.tags {
										float: left;
										width: 350px;
										margin-top: 15px;

										li {
											float: left;
											width: 168px;
											height: 28px;
											margin: 0 10px 10px 0;
											border: 1px solid #d5b37c;
											color: #d5b37c;
											text-align: center;
											line-height: 28px;
											font-size: 22px; /* px */
											text-overflow: ellipsis;
											white-space: nowrap;
											overflow: hidden;

											&:nth-of-type(2n) {
												margin-right: 0;
											}
										}
									}
									.operate {
										float: right;
										width: 222px;
										margin: 5px 20px 0 0;
										
										.counter {
											a, input {
												float: left;
												height: 38px;
												line-height: 38px;
												text-align: center;
											}

											a {
												width: 38px;
												font-size: 32px; /* px */
												border: 1px solid #303242; 
												color: #303242;
												background-color: #f0f0f0;
											}

											input {
												width: 140px;
												border: 1px solid #303242; 
												border-radius: 0;
												border-left-width: 0;
												border-right-width: 0;
												color: #323232;
												font-size: 24px; /* px */
											}
										}
									}
								}
							}

							&:first-of-type {
								padding-top: 0;
							}
							&:last-of-type {
								border-bottom: none;
							}
							&.combination {
								padding-top: 0;
								border-top: 1px solid #303242; /* no */

								.item {
									padding: 0;
									border-bottom: none;

									.wrapper {
										padding: 40px 0;
										border-bottom: 1px solid #dcdcdc; /* no */
									}
									&:first-of-type .wrapper {
										padding-top: 0;
									}
									&:last-of-type .wrapper {
										border-bottom: none;
									}
								}
								.cbn-price {
									width: 100%;
									height: 24px;
									font-size: 24px; /* px */
									color: #323232;
									text-align: right;

									span {
										display: inline-block;
										margin: 0 20px;

										i {
											font-style: normal;
											text-decoration: line-through;
										}
									}
									.cnb-original-price {
										color: #c8c8c8;
									}
								}
								.operate {
									width: 222px;
									margin: 30px 20px 0 auto;
									
									.counter {										
										a, input {
											float: left;
											height: 38px;
											line-height: 38px;
											text-align: center;
										}

										a {
											width: 38px;
											font-size: 32px; /* px */
											border: 1px solid #303242; 
											color: #303242;
											background-color: #f0f0f0;
										}

										input {
											width: 140px;
											border: 1px solid #303242; 
											border-radius: 0;
											border-left-width: 0;
											border-right-width: 0;
											color: #323232;
											font-size: 24px; /* px */
										}
									}
								}
							}

							/* 下架商品样式 */
							&.unshelve, &.soldout {
								.wrapper {
									.content {
										.select {
											background-image: url('../imgs/icons/icon_circle_gray.png');
										}
										.img {
											position: relative;

											&:after {
												display: block;
												position: absolute;
												top: 0;
												left: 0;
												width: 182px;
												height: 137px;
												content: '已下架';
												background-color: rgba(180, 180, 180, .6);
												text-align: center;
												line-height: 137px;
												font-size: 32px; /* px */
												color: #fff;
											}
										}
										.text {
											.basic {
												.name, .desc {
													color: #c8c8c8;
												}
											}
											.ext {
												.price, .original-price, .num {
													color: #c8c8c8;
												} 
											}
										}
									}
									.footer {
										.tags li {
											color: #c8c8c8;
											border-color: #c8c8c8;
										}
										.operate {
											.counter {
												a, input {
													border-color: #c8c8c8;
													color: #c8c8c8;
												}
											}
										}
									}
								}
							}
							&.soldout .wrapper .content .img:after {
								content: '已售罄';
							}
						}
					}
					> .footer {
						position: relative;
						width: 100%;
						height: 110px;
						border-top: 1px solid #303242; /* no */

						.btn-clear {
							display: block;
							position: absolute;
							top: 50%;
							left: 50%;
							width: 276px;
							height: 46px;
							border:2px solid #303242; 
							border-radius: 25px;
							line-height: 46px;
							font-size: 22px; /* px */
							text-align: center;
							color: #303242;
							transform: translate(-50%, -50%);
						}
					}
				}
			}
		}
	}
}