html, body {
	width: 100%;
}
#pageWrapper {
	width: 100%;
	padding-bottom: 95px;
	background-color: #f0f0f0;
}

#detailSlide {
	width: 100%;
	height: 563px;

	img {
		width: 100%;
		height: 563px;
	}
	
	.swiper-pagination-bullet {
		background: #ffffff;
		border: 1px solid #b4b4b4; /* no */

		&.swiper-pagination-bullet-active {
			background: #eb2249;
		}
	}	
}

#productInfo {
	width: 100%;
	background-color: #f0f0f0;

	> section {
		width: 100%;
		background-color: #fff;	
		margin-bottom: 20px;
		border-bottom: 1px solid #dcdcdc; /* no */	
	}

	.basic-info {
		position: relative;
		width: 710px;
		height: 130px;
		margin: 0 auto;
		border-bottom: 1px solid #dcdcdc; /* no */

		.title {
			position: absolute;
			top: 40px;
			left: 40px;
			color: #323232;

			.cn {
				font-size: 30px; /* px */
				line-height: 30px;
			}
			.en {
				font-size: 18px; /* px */
				line-height: 18px;
				margin-top: 10px;
			}
		}

		.ext {
			position: absolute;
			top: 50%;
			right: 40px;
			line-height: 40px;

			span {
				display: inline-block;
				float: left;
				font-size: 20px;
			}
			.dollar {
				font-size: 28px; /* px */
			}
			.price {
				font-size: 40px; /* px */
				line-height: 30px;
			}
		}
	}

	.tag-info {
		width: 710px;
		margin: 0 auto;
		border-bottom: 1px solid #f0f0f0; /* no */

		> p {
			width: 670px;
			margin: 0 auto;
			padding: 14px 0;
			text-align: right;

			> span {
				display: inline-block;
				position: relative;
				height: 38px;
				line-height: 38px;
				text-align: center;
				font-size: 22px; /* px */
				color: #d5b37c;
				padding: 0 10px;
				border: 1px solid #d5b37c; /* no */
				border-radius: 5px;
				margin-left: 15px;

				.arrow {
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate(-8px, -50%);
					width: 8px;
					height: 16px;
					background:{
						image: url('../imgs/detail/tag_arrow.png');
						repeat: no-repeat;
						size: cover;
					}
				}
			}
		} 
	}

	.spec-info {
		width: 710px;
		margin: 0 auto;

		.container {
			position: relative;
			width: 100%;
			color: #323232;

			> p {
				width: 690px;
				margin-left: auto;
				line-height: 60px; 
				font-size: 20px; /* px */
			}

			.more-pound {
				display: block;
				position: absolute;
				top: 60px;
				right: -20px;
				width: 90px;
				height: 60px;
				background: {
					image: url('../imgs/icons/icon_circle_down.png');
					repeat: no-repeat;
					size: 52px 52px;
					position: center center
				}
			}

			.pounds {
				width: 100%;
				height: 78px;
				overflow: hidden;
				border-bottom: 1px solid #f0f0f0; /* no */

				li {
					float: left;
					width: 136px;
					height: 56px;
					border: 1px solid #d2d2d2; /* no */
					margin: 0 0 20px 20px;
					line-height: 56px;
					font-size: 28px;
					text-align: center;

					&.active {
						border-color: #ef1b47;
						color: #ef1b47;
					}
				}
			}

			.notes {
				width: 670px;
				margin: 0 auto;
				padding: 15px 0 50px;

				li {
					float: left;
					width: 310px;
					padding-left: 20px;
					margin-right: 10px;
					font-size: 22px; /* px */
					line-height: 40px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					background: {
						image: url('../imgs/detail/notes_li_bg.png');
						repeat: no-repeat;
						size: 6px 6px;
						position: left center;
					}

					&:nth-of-type(2n) {
						margin-right: 0;
					}

					.gift {
						background-color: #ef1b47;
						color: #fff;
						padding: 0 5px;
					}
					.sweet {
						display: inline-block;
						width: 36px;
						height: 36px;
						line-height: 40px;
						vertical-align: middle;
						background: {
							image: url('../imgs/icons/icon_sweet.png');
							repeat: no-repeat;
							size: cover;
						}
					}
				}
			}
		}
	}

	.promotion-info {
		width: 100%;

		.list {
			width: 100%;
		}

		.item {
			width: 100%;
			height: 100px;
			border-bottom: 1px solid #dcdcdc; /* px */

			&:last-of-type {
				border-bottom: none;
			}

			.item-wrapper {
				width: 670px;
				height: 100%;
				margin: 0 auto;

				.name {
					position: relative;
					float: left;
					width: 160px;
					height: 100%;

					span {
						position: absolute;
						top: 50%;
						right: 0;
						padding: 10px 15px;
						border: 1px solid #d5b37c; /* no */
						border-radius: 5px;
						transform: translateY(-50%);
						font-size: 20px; /* px */
						color: #d5b37c;
						text-align: center;

						.arrow {
							display: block;
							position: absolute;
							top: 50%;
							right: 0;
							transform: translate(7px, -50%);
							width: 8px;
							height: 16px;
							background:{
								image: url('../imgs/detail/promotion_arrow.png');
								repeat: no-repeat;
								size: cover;
							}
						}
					}
				}
				.content {
					position: relative;
					float: right;
					width: 495px;
					height: 100%;

					p {
						position: absolute;
						top: 50%;
						left: 0;
						padding: 5px 0;
						transform: translateY(-50%);
						line-height: 34px;
						font-size: 22px; /* px */
						color: #323232;
						display: -webkit-box; 
						-webkit-box-orient: vertical; 
						-webkit-line-clamp: 2; 
						overflow: hidden;

						.view-detial {
							padding: 0 6px;
							border: 1px solid #323232; /* no */
							color: #323232;
							border-radius: 5px;
						}
					}
				}
			}
		}
	}

	.combination-info {
		width: 100%;

		.list {
			width: 100%;
		}
		.item {
			position: relative;
			width: 100%;
			height: 200px;
			border-bottom: 1px solid #dcdcdc; /* no */

			&:last-of-type {
				border-bottom: none;
			}

			.item-tag {
				position: absolute;
				top: 0;
				right: 0;
				width: 320px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size: 20px; /* px */
				color: #fff;
				background-color: #d5b37c;
				border-radius: 0 0 0 10px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.item-wrapper {
				position: relative;
				width: 690px;
				height: 100%;
				margin: 0 auto;

				.side-left {
					position: relative;
					float: left;
					width: 60px;
					height: 100%;

					.btn-radio {
						display: block;
						position: absolute;
						top: 50%;
						left: 0;
						width: 60px;
						height: 60px;
						transform: translateY(-50%);
						background: {
							image: url('../imgs/icons/icon_circle_unselect.png');
							repeat: no-repeat;
							size: 42px 42px;
							position: center center;
						}
					}
				}

				.side-right {
					position: relative;
					float: right;
					width: 610px;
					height: 100%;

					.right-wrapper {
						position: absolute;
						top: 50%;
						left: 0;
						width: 610px;
						height: 152px;
						transform: translateY(-50%);
					}

					.img {
						float: left;
						width: 200px;
						height: 150px;
						border: 1px solid #f0f0f0;
						overflow: hidden;

						img {
							width: 100%;
						}
					}

					.text {
						position: relative;
						float: right;
						width: 390px;
						height: 100%;

						.name {
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
							color: #323232;

							.cn {
								font-size: 28px; /* px */
								line-height: 30px;
							}
							.en {
								font-size: 18px; /* px */
								line-height: 24px;
							}
						}
						.original-price {
							position: absolute;
							bottom: 0;
							left: 0;
							font-size: 20px; /* px */
							color: #969696;
						}
						.ext {
							position: absolute;
							right: 0;
							bottom: 0;

							> span {
								float: left;
								font-size: 20px; /* px */
								color: #303030;
								line-height: 36px;

								&.price {
									font-size: 36px; /* px */
								}
							}
						}
					}
				}
			}
			
			&.active .item-wrapper .side-left .btn-radio {
				background-image: url('../imgs/icons/icon_circle_selected.png');
			}
			&.item-default .item-wrapper .side-left .btn-radio {
				background-image: url('../imgs/icons/icon_circle_default.png');
			}
		}
	}

	.detail-section {
		width: 100%;
		border-top: 2px solid #d5b37c; /* no */

		.title {
			width: 670px;
			margin: 0 auto;
			padding-top: 36px;
			color: #d5b37c;

			.cn {
				font-size: 24px; /* px */
			}
			.en {
				font-size: 18px; /* px */
			}
		}
	}

	.product-details {

		.content {
			width: 670px;
			margin: 0 auto;
			padding: 50px 0;

			.desc {
				font-size: 22px; /* px */
				text-indent: 2em;
				color: #333;
				line-height: 38px;
			}
		}

		.img {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

	.best-ingredient {
		padding-bottom: 20px;

		.content {
			width: 630px;
			margin: 0 auto;
			padding: 40px 0;

			.parts {
				width: 100%;

				li {
					float: left;
					width: 256px;
					margin: 0 118px 20px 0;

					&:nth-of-type(2n) {
						margin-right: 0;
					}

					.flag {
						float: left;
						width: 50px;
						height: 30px;
						border: 1px solid #f0f0f0; /* no */

						img {
							width: 100%;
						}
					}
					.name {
						float: right;
						width: 190px;
						line-height: 32px;
						font-size: 22px;
						color: #323232;
					}
				}
			}

			.brands {
				width: 100%;

				li {
					width: 100%;
					margin-top: 20px;

					.img {
						float: left;
						width: 120px;
						height: 80px;
						border: 1px solid #f0f0f0; /* no */

						img {
							width: 100%;
						}
					}
					.text {
						position: relative;
						float: right;
						width: 490px;
						height: 82px;

						> p {
							position: absolute;
							top: 50%;
							left: 0;
							width: 100%;
							transform: translateY(-50%);
							font-size: 22px; /* px */
							color: #323232;
							line-height: 30px;
							text-align: justify;
						}
					}
				}
			}

			.notice {
				width: 100%;
				margin-top: 30px;
				font-size: 22px; /* px */
				line-height: 30px;
				color: #969696;
				text-align: justify;
			}
		}

		> .img {
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

	.evaluation-info {
		.title {
			.counter {
				float: right;
				font-size: 18px; /* px */
				color: #969696;
			}
		}

		.content {
			width: 100%;
			border-bottom: 1px solid #f0f0f0; /* no */

			.list {
				width: 710px;
				margin: 0 auto;

				li {
					width: 100%;
					padding-top: 30px;
					border-bottom: 1px solid #f0f0f0; /* no */

					&:last-of-type {
						border-bottom: none;
					}
				}

				.wrapper {
					width: 670px;
					margin: 0 auto;

					.info {
						line-height: 32px;

						span {
							float: left;
							display: inline-block;
						}
						.name {
							font-size: 22px; /* px */
							color: #323232;							
						}
						.stars {
							margin-left: 25px;

							i {
								display: inline-block;
								float: left;
								width: 32px;
								height: 32px;
								margin-right: 5px;
								background: {
									image: url('../imgs/icons/icon_star.png');
									repeat: no-repeat;
									size: 31px 31px;
									position: center center;
								}

								&.active {
									background-image: url('../imgs/icons/icon_star_active.png');
								}
							}
						}
					}
					.comment {
						padding: 25px 0;
						font-size: 22px; /* px */
						color: #323232;
						line-height: 30px;
					}
				}
			}
		}

		.more-evaluation {
			width: 100%;
			height: 50px;
			line-height: 50px;
			text-align: center;

			> a {
				display: inline-block;
				font-size: 22px; /* px */
				color: #1478be;
			}
		}
	}
}

#backToHomepage {
	display: block;
	position: fixed;
	right: 10px;
	bottom: 110px;
	width: 80px;
	height: 80px;
	background: {
		image: url('../imgs/icons/icon_home.png');
		repeat: no-repeat;
		size: cover;
	}
}

#footerBar {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 94px;
	background-color: #fff;
	border-top: 1px solid #303242; /* no */
	
	.icons {
		float: left;
	}
	.btns {
		float: right;
	}
	a {
		display: block;
		float: left;
		height: 94px;

		&.icon {
			position: relative;
			width: 114px;
			border-right: 1px solid #f0f0f0; /* no */

			.img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);				
				background: {
					repeat: no-repeat;
					size: cover;
				}
			}
		}
		&.btn-favor .img {
			width: 36px;
			height: 34px;
			background-image: url('../imgs/icons/icon_unfollow.png');
		}
		&.btn-favor.followed .img {
			background-image: url('../imgs/icons/icon_followed.png');
		}
		&.btn-basket .img {
			position: relative;
			width: 40px;
			height: 40px;
			background-image: url('../imgs/icons/shopping_basket.png');

			.num {
				display: block;
				position: absolute;
				top: -2px;
				left: 35px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				font-size: 18px; /* px */
				background-color: #ec214b;
				color: #fff;
				border-radius: 50%;
			}
		}
		&.btn {
			width: 258px;
			text-align: center;
			line-height: 94px;
			font-size: 30px; /* px */
			color: #fff;
		}
		&.btn-join-basket {
			width: 258px;
			border-right: 2px solid #fff; /* no */
			margin-left: -2px; /* no */
			background-color: #41466e;
		}
		&.btn-buy-immediately {
			background-color: #303242;
		}
	}
}

#maskPromotion {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 510px;
		transform: translate(-50%, -50%);
		background-color: #fff;
		border-radius: 10px;
		overflow: hidden;

		.header {
			width: 100%;
			height: 80px;
			border-bottom: 1px solid #303242; /* no */

			.title {
				width: 450px;
				height: 80px;
				margin: 0 auto;
				line-height: 80px;

				p {
					padding-left: 30px;
					display: inline-block;
					font-size: 24px; /* px */
					color: #303242;
					background: {
						image: url('../imgs/detail/mask_title_bg.png');
						repeat: no-repeat;
						size: 10px 10px;
						position: left center;
					}
				}
			}			
		}
		.content {
			width: 450px;
			margin: 0 auto;
			padding: 50px 0 90px;

			p {
				font-size: 24px; /* px */
				color: #000;
				line-height: 36px;
			}
		}
		.footer {
			width: 100%;
			height: 70px;

			.btn-close {
				display: block;
				width: 100%;
				height: 100%;
				line-height: 70px;
				background-color: #303242;
				font-size: 30px; /* px */
				color: #fff;
				text-align: center;
			}
		}
	}
}

/* 加入购物车动画 */
.flyEle { 
	position: fixed; 
	z-index: 999999999; 
	width: 20px; 
	height: 20px; 
	border-radius: 50%; 
	background-color: #ec214b; 
}