// Global
// ==============================

// Mixins
@import "mixins/border-radius";
@import "mixins/gradients";
@import "mixins/clearfix";

// Clear float
.clearfix {
	@include clearfix()
}
body, p, h1, h2, h3, ul, ol, dl, li, dt, dd {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    border: none;
    vertical-align: top;
}

html, body {
	width: 100%;
}

body {
	font-family: 'Microsoft YaHei', Arial;
}