/**
 * HomePage CSS file
 */

// Mixins
@import "mixins/triangle";

// Variables
$loc-triangle-w: 13px;
$loc-triangle-bgcolor: #f0f0f0;

body {
	background-color: #f0f0f0;
}

#idxHeader {
	position: relative;
	width: 100%;
	height: 90px;
	background-color: #303341;

	.location {
		position: absolute;
		top: 50%;
		left: 30px;
		width: 120px;
		height: 30px;
		color: #f0f0f0;
		text-align: center;
  		font-size: 28px;
  		line-height: 30px;
		transform: translateY(-50%);
		background: {
			image: url('../imgs/index/location_bg.png');
			repeat: no-repeat;
			size: 24px 30px;
			position: left top;
		}

		&:after {
			@include triangle(bottom, $loc-triangle-w, $loc-triangle-w, $loc-triangle-bgcolor);
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}

	.logo {
		position: absolute;
		left: 50%;
		top: 14px;
		width: 160px;
		height: 58px;
		transform: translateX(-50%);
		background: {
			image: url('../imgs/index/logo_bg.png');
			repeat: no-repeat;
			size: cover;
			position: center center;
		}
	}
}

#idxNotice {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #e64f59;
	border-bottom: 1px solid #a6252c; /* no */
	overflow: hidden;

	.notice-icon {
		position: absolute;
		left: 30px;
		top: 50%;
		transform: translateY(-50%);
		width: 32px;
		height: 40px;
		background: {
			image: url('../imgs/index/notice_icon.png');
			repeat: no-repeat;
			size: cover;
		}
	}

	.notice-msg {
		position: absolute;
		top: 0;
		left: 80px;
		width: 610px;
		margin: 0 auto;
		line-height: 60px;
		color: #edf0f0;
	}

	.notice-close {
		display: block;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 26px;
		height: 26px;
		background: {
			image: url('../imgs/index/notice_close.png');
			repeat: no-repeat;
			size: cover;
		}
	}
}

#idxSlide {
	width: 100%;
	height: 375px;

	img {
		width: 100%;
	}
	
	.swiper-pagination-bullet {
		background: #ffffff;
		border: 1px solid #b4b4b4; /* no */

		&.swiper-pagination-bullet-active {
			background: #eb2249;
		}
	}	
}

#idxNav {
	position: relative;
	width: 100%;
	height: 295px;
	background: {
		image: url('../imgs/index/nav_bg.png');
		repeat: no-repeat;
		position: top center;
		size: contain;
	}

	> ul {
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;

		li {
			float: left;
			width: 140px;
			margin-left: 38px;

			a {
				display: block;
				width: 140px;
				height: 130px;
				background: {
					position: center center;
					size: cover;
				}
			}

			&.all a {
				background-image: url('../imgs/index/nav_all.png');
			}
			&.tea a {
				background-image: url('../imgs/index/nav_tea.png');
			}
			&.diy a {
				background-image: url('../imgs/index/nav_diy.png');
			}
			&.gaw a {
				background-image: url('../imgs/index/nav_gaw.png');
			}

			.text {

				padding: 10px;

				p { 
					text-align: center;
					line-height: 30px; /*px*/
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					color: #303241;

					&.en {
						font-size: 16px; /*px*/
					}

					&.cn {
						font-size: 24px; /*px*/
					}
				}
			}
		}
	}
}

#idxSection {
	width: 100%;

	section {
		width: 100%;
		margin-bottom: 30px;
		background-color: #fff;

		.sec-header {
			width: 94.666%;
			margin: 0 auto;
			padding-top: 23px;

			h2 {
				font-size: 26px; /* px */
				line-height: 32px;
				color: #303241;
				padding-left: 20px;
				background: {
					image: url('../imgs/index/sec_header_bg.png');
					position: left center;
					repeat: no-repeat;
					size: 13px 13px;
				}
			}
		}

		.sec-body {
			width: 94.666%;
			margin: 0 auto;
		}
	}

	/* 精品推荐 */
	.sec-recommend {
		width: 100%;
		padding-bottom: 43px;

		.slide-item {
			width: 100%;
			height: 347px;
			padding: 24px 0;
			border-bottom: 1px solid #e6e6e6; /* no */

			&:last-of-type {
				border-bottom: none;
				padding-bottom: 0;
			}

			.img {
				display: block;
				float: left;
				width: 460px;
				border: 1px solid #f0f0f0; /* no */

				img {
					width: 100%;
				}
			}
			
			.text {
				float: right;
				position: relative;
				width: 220px;
				height: 100%;
				color: #303241;

				.name {
					padding: 25px 0 40px;
					
					p {
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;
					}
					.cn {
						font-size: 24px; /* px */
						padding-bottom: 10px;
					}
					.en {
						font-size: 16px; /* px */
					}
				}
				.desc {
					font-size: 18px; /* px */
					line-height: 24px; /* px */
					display: -webkit-box; 
					-webkit-box-orient: vertical; 
					-webkit-line-clamp: 3; 
					overflow: hidden;
				}

				.ext {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;

					> div {						
						width: 100%;
						height: 34px;

						p {
							float: left;
							line-height: 34px;

							span {
								display: inline-block;
								float: left;
								font-size: 18px; /* px */
							}
							.price {
								font-size: 28px; /* px */
							}
						}
						a {
							display: block;
							float: right;
							width: 36px;
							height: 34px;
							margin-right: 10px;
							background: {
								image: url('../imgs/icons/icon_unfollow.png');
								repeat: no-repeat;
								size: cover;
							}

							&.followed {
								background-image: url('../imgs/icons/icon_followed.png');
							}
						}
					}

					.discount {
						padding-top: 30px;
						color: #d7b47d;

						span {
							display: inline-block;
							float: left;
							font-size: 24px; /* px */
							line-height: 30px;
							
							&.num1,
							&.num2 {
								font-family: '宋体';
							}
							&.num1 {
								font-size: 50px; /* px */
								line-height: 20px;
							}
						}
					}
				}
			}
		}

		.swiper-pagination {
			bottom: 5px;

			.swiper-pagination-bullet {
				background: #ffffff;
				border: 1px solid #b4b4b4; /* no */

				&.swiper-pagination-bullet-active {
					background: #eb2249;
				}
			}
		}
	}
}