/* listHeader */
#listHeader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100px;
	background-color: #fff;

	.c-item {
		position: relative;
		float: left;
		width: 20%;
		height: 100%;
		margin-left: -1px; /* no */
		border-bottom: 1px solid #303242; /* no */
		border-right: 1px solid #f0f0f0; /* no */

		&:last-of-type {
			border-right: none;
		}
		&.active {
			border-bottom-color: #ef1b47; /* no */

			p {
				color: #ef1b47;
			}

			span {
				display: block;
			}
		}

		p {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			font-size: 24px; /* px */
			text-align: center;			
		}

		span {
			display: none;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px; /* no */
			background-color: #ef1b47;
		}
	}
}

/* listContainer */
#listContainer {
	width: 100%;
	margin: 100px 0 96px;

	> section {
		display: none;
		width: 100%;

		&.active {
			display: block;
		}

		.no-product {
			width: 100%;

			> img {
				width: 100%;
			}
		}
	}
	
	/* sec-all */
	.sec-all {
		padding-top: 20px;

		.list {
			width: 710px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: space-between;

			.item {
				width: 348px;
				margin-bottom: 14px;
				background-color: #fff;

				.img {
					display: block;
					width: 100%;
					height: 261px;
					overflow: hidden;

					img {
						width: 100%;
					}
				}

				.text {
					position: relative;
					width: 100%;
					padding: 19px 0 22px;
					color: #323232;

					.name {
						width: 100%;
						padding-bottom: 26px;

						p {
							text-align: center;

							&.cn {
								font-size: 24px; /* px */
							}

							&.en {
								font-size: 16px; /* px */
								padding-top: 8px;
							}
						}
					}

					.ext {
						text-align: center;

						.price {
							font-size: 24px;
						}
						.pound {
							font-size: 18px;
						}
					}

					.add-icon {
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
						width: 70px;
						height: 70px;
						background: {
							image: url('../imgs/list/icon_add_bg.png');
							repeat: no-repeat;
							size: cover;
						}
					}
				}

				&.soldout {
					position: relative;

					&:after {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 9;
						width: 100%;
						height: 100%;
						content: '';
						background-color: rgba(255, 255, 255, .68);
					}

					.img {
						position: relative;

						&:after {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							z-index: 10;
							width: 100%;
							height: 100%;
							content: '';
							background: {
								image: url('../imgs/list/soldout_bg.png');
								repeat: no-repeat;
								size: cover;
							}
						}
					}
				}
			}
		}

		.load-more {
			display: block;
			width: 258px;
			height: 58px;
			margin: 10px auto 20px;
			font-size: 24px; /* px */
			text-align: center;
			line-height: 58px;
			color: #323232;
			border: 1px solid #303242; /* no */
			border-radius: 10px;
		}
	}

	/* sec-taste */
	.sec-taste {
		margin-top: 170px;

		.nav-list {
			position: fixed;
			top: 100px;
			left: 0;
			z-index: 98;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-content: space-around;
			width: 100%;
			padding: 15px 0 5px;
			background-color: #fff;		
			border-bottom: 1px solid #dcdcdc; /* no */

			.nav-item {
				width: 158px;
				height: 58px;
				line-height: 58px;
				border: 1px solid #dcdcdc; /* no */
				color: #646464;
				text-align: center;
				font-size: 24px; /* px */
				margin-bottom: 10px;

				&.active {
					border-color: #ef1b47;
					color: #ef1b47;
					box-shadow: inset 0 0 0 1px #ef1b47; /* no */
				}
			}
		}

		.taste-list {
			width: 100%;
			height: auto;
			margin-bottom: 10px;

			.taste-item {
				width: 100%;
				background-color: #fff;
				margin-top: 10px;
				padding-bottom: 5px;

				> h2 {
					height: 60px;
					line-height: 60px;
					font-size: 24px; /* px */
					text-align: center;
					color: #303242;
				}

				.list {
					width: 710px;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-content: space-between;

					.item {
						width: 348px;
						margin-bottom: 14px;
						background-color: #fff;
						border: 1px solid #f0f0f0; /* no */

						.img {
							display: block;
							width: 100%;
							height: 261px;
							overflow: hidden;

							img {
								width: 100%;
							}
						}

						.text {
							position: relative;
							width: 100%;
							padding: 19px 0 22px;
							color: #323232;

							.name {
								width: 100%;
								padding-bottom: 26px;

								p {
									text-align: center;

									&.cn {
										font-size: 24px; /* px */
									}

									&.en {
										font-size: 16px; /* px */
										padding-top: 8px;
									}
								}
							}

							.ext {
								text-align: center;

								.price {
									font-size: 24px;
								}
								.pound {
									font-size: 18px;
								}
							}

							.add-icon {
								display: block;
								position: absolute;
								right: 0;
								bottom: 0;
								width: 70px;
								height: 70px;
								background: {
									image: url('../imgs/list/icon_add_bg.png');
									repeat: no-repeat;
									size: cover;
								}
							}
						}

						&.soldout {
							position: relative;

							&:after {
								position: absolute;
								top: 0;
								left: 0;
								z-index: 9;
								width: 100%;
								height: 100%;
								content: '';
								background-color: rgba(255, 255, 255, .68);
							}

							.img {
								position: relative;

								&:after {
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									z-index: 10;
									width: 100%;
									height: 100%;
									content: '';
									background: {
										image: url('../imgs/list/soldout_bg.png');
										repeat: no-repeat;
										size: cover;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/* sec-scene */
	.sec-scene {
		margin-top: 10px;

		.list {
			width: 100%;

			.item {
				width: 100%;
				background-color: #fff;
				margin-bottom: 10px;
				border-bottom: 1px solid #dcdcdc; /* no */

				.img {
					display: block;
					width: 100%;

					img {
						width: 100%;
					}
				}

				.text {
					position: relative;
					height: 80px;

					.name {
						p {
							padding-left: 40px;
						}
						.en {
							padding-top: 15px;
							font-size: 24px; /* px */
							line-height: 24px;
						}
						.cn {
							padding-top: 10px;
							font-size: 20px; /* px */
							line-height: 20px;
						}
					}

					.icon-more {
						display: inline-block;
						position: absolute;
						right: 40px;
						top: 50%;
						width: 32px;
						height: 32px;
						transform: translateY(-50%);
						background: {
							image: url('../imgs/list/icon_more_bg.png');
							repeat: no-repeat;
							size: cover;
						}
					}

				}
			}
		}
	}
	
	/* sec-gift */
	.sec-gift {
		margin-top: 10px;

		.diy-cake {
			position: relative;
			width: 100%;
			background-color: #fff;

			.img {
				display: block;
				float: left;
				width: 260px;
				height: 195px;
				border: 1px solid #f0f0f0; /* no */
				margin: 20px 24px 20px 20px;

				img {
					width: 100%;
				}
			}

			.text {
				float: left;
				width: 290px;
				margin-top: 20px;
				color: #323232;

				.name {
					font-size: 24px;
					line-height: 64px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				.desc {
					font-size: 18px;
					line-height: 28px;
					display: -webkit-box; 
					-webkit-box-orient: vertical; 
					-webkit-line-clamp: 2; 
					overflow: hidden;
				}
			}

			.btn-diy {
				display: block;
				position: absolute;
				right: 20px;
				bottom: 15px;
				width: 236px;
				height: 56px;
				border: 2px solid #ef1b47; /* no */
				border-radius: 30px;
				line-height: 56px;
				text-align: center;
				color: #ef1b47;
			}

			.tag {
				position: absolute;
				top: 0;
				right: 20px;
				width: 80px;
				height: 80px;
				background: {
					image: url('../imgs/list/diy_tag_bg.jpg');
					repeat: no-repeat;
					size: cover;
				}
			}
		}

		.gift-list {
			width: 100%;
			height: auto;
			margin-bottom: 10px;

			.gift-item {
				width: 100%;
				background-color: #fff;
				margin-top: 10px;
				padding-bottom: 5px;

				> h2 {
					height: 60px;
					line-height: 60px;
					font-size: 24px; /* px */
					text-align: center;
					color: #303242;
				}

				.list {
					width: 710px;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-content: space-between;

					.item {
						width: 348px;
						margin-bottom: 14px;
						background-color: #fff;
						border: 1px solid #f0f0f0; /* no */

						.img {
							display: block;
							width: 100%;
							height: 261px;
							overflow: hidden;

							img {
								width: 100%;
							}
						}

						.text {
							position: relative;
							width: 100%;
							padding: 19px 0 22px;
							color: #323232;

							.name {
								width: 100%;
								padding-bottom: 26px;

								p {
									text-align: center;

									&.cn {
										font-size: 24px; /* px */
									}

									&.en {
										font-size: 16px; /* px */
										padding-top: 8px;
									}
								}
							}

							.ext {
								text-align: center;

								.price {
									font-size: 24px;
								}
								.pound {
									font-size: 18px;
								}
							}

							.add-icon {
								display: block;
								position: absolute;
								right: 0;
								bottom: 0;
								width: 70px;
								height: 70px;
								background: {
									image: url('../imgs/list/icon_add_bg.png');
									repeat: no-repeat;
									size: cover;
								}
							}
						}

						&.soldout {
							position: relative;

							&:after {
								position: absolute;
								top: 0;
								left: 0;
								z-index: 9;
								width: 100%;
								height: 100%;
								content: '';
								background-color: rgba(255, 255, 255, .68);
							}

							.img {
								position: relative;

								&:after {
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									z-index: 10;
									width: 100%;
									height: 100%;
									content: '';
									background: {
										image: url('../imgs/list/soldout_bg.png');
										repeat: no-repeat;
										size: cover;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/* sec-flower */
	.sec-flower {
		margin-top: 10px;

		.flower-list {
			width: 100%;
			height: auto;
			margin-bottom: 10px;

			.flower-item {
				width: 100%;
				background-color: #fff;
				margin-top: 10px;
				padding-bottom: 5px;

				> h2 {
					height: 60px;
					line-height: 60px;
					font-size: 24px; /* px */
					text-align: center;
					color: #303242;
				}

				.list {
					width: 710px;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-content: space-between;

					.item {
						width: 348px;
						margin-bottom: 14px;
						background-color: #fff;
						border: 1px solid #f0f0f0; /* no */

						.img {
							display: block;
							width: 100%;
							height: 261px;
							overflow: hidden;

							img {
								width: 100%;
							}
						}

						.text {
							position: relative;
							width: 100%;
							padding: 19px 0 22px;
							color: #323232;

							.name {
								width: 100%;
								padding-bottom: 26px;

								p {
									text-align: center;

									&.cn {
										font-size: 24px; /* px */
									}

									&.en {
										font-size: 16px; /* px */
										padding-top: 8px;
									}
								}
							}

							.ext {
								text-align: center;

								.price {
									font-size: 24px;
								}
								.pound {
									font-size: 18px;
								}
							}

							.add-icon {
								display: block;
								position: absolute;
								right: 0;
								bottom: 0;
								width: 70px;
								height: 70px;
								background: {
									image: url('../imgs/list/icon_add_bg.png');
									repeat: no-repeat;
									size: cover;
								}
							}
						}

						&.soldout {
							position: relative;

							&:after {
								position: absolute;
								top: 0;
								left: 0;
								z-index: 9;
								width: 100%;
								height: 100%;
								content: '';
								background-color: rgba(255, 255, 255, .68);
							}

							.img {
								position: relative;

								&:after {
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									z-index: 10;
									width: 100%;
									height: 100%;
									content: '';
									background: {
										image: url('../imgs/list/soldout_bg.png');
										repeat: no-repeat;
										size: cover;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* addToCart */
#addToCart {
	/* display: none; */
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	background-color: #fff;
	transform: translateY(110%);
	
	.header {
		position: relative;
		width: 100%;
		height: 150px;

		.img {
			position: absolute;
			top: -50px;
			left: 30px;
			width: 200px;
			height: 150px;
			padding: 5px;
			border: 1px solid #c8c8c8; /* no */
			background-color: #fff;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.text {
			margin: 30px 0 0 260px;

			.name {
				color: #323232;

				.cn {
					font-size: 30px; /* px */
				}
				.en {
					font-size: 18px; /* px */
					margin-top: 10px;
				}
			}

			.note {
				margin-top: 10px;
				font-size: 24px; /* px */
				color: #b5b5b5;
			}
		}

		.ext {
			position: absolute;
			right: 30px;
			bottom: 10px;
			
			.dollar {
				font-size: 24px; /* px */
				color: #ef1b47;
			}
			.price {
				font-size: 36px; /* px */
				color: #ef1b47;
			}
			.pound {
				font-size: 20px; /* px */
				color: #333;
			}
		}
	}

	.container {
		width: 710px;
		margin: 0 auto;

		section {
			width: 100%;

			&.spec {
				border-top: 1px solid #c8c8c8; /* no */
			}
			&.amount {
				border-top: 1px dashed #c8c8c8; /* no */
			}

			.title {
				float: left;
				width: 100px;
				line-height: 60px;
				font-size: 28px; /* px */
				color: #313131;
				padding-top: 20px;
			}
			.content {
				float: right;
				width: 600px;
				margin-right: 10px;
				
				.spec-list {
					width: 100%;
					padding-top: 20px;

					li {
						float: left;
						width: 176px;
						height: 56px;
						line-height: 56px;
						text-align: center;
						font-size: 28px; /* px */
						color: #323232;
						border: 2px solid #d2d2d2;
						margin: 0 20px 20px 0;

						&.active {
							color: #ef1b47;
							border-color: #ef1b47;
							outline: 3px solid #ef1b47;
							outline-offset: -3px;
						}
					}
				}

				.counter {
					float: right;
					margin: 25px 10px 25px 0;

					a, input {
						float: left;
						height: 56px;
						line-height: 56px;
						text-align: center;
					}

					a {
						width: 56px;
						font-size: 40px; /* px */
						border: 2px solid #303242; 
						color: #303242;
						background-color: #f0f0f0;

						&.disabled {
							border-color: #d2d2d2;
							color: #b4b4b4;
							background-color: #fff;
						}
					}

					input {
						width: 180px;
						border: 2px solid #d2d2d2; 
						border-radius: 0;
						border-left-width: 0;
						border-right-width: 0;
						color: #323232;
						font-size: 30px; /* px */
					}
				}
			}

		}
	}

	.footer {
		width: 100%;
		height: 94px;

		> a {
			display: block;
			float: left;
			width: 50%;
			line-height: 94px;
			text-align: center;
			font-size: 30px; /* px */
			color: #fff;

			&.buy-immediately {
				background-color: #41466e;
				border-right: 1px solid #fff; /* no */
				margin-left: -1px; /* no */
			}
			&.join-cart {
				background-color: #303242;
			}
		}
	}

	.cart-close {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 26px;
		height: 26px;
		padding: 20px;
		background: {
			image: url('../imgs/list/cart_close_bg.png');
			repeat: no-repeat;
			size: 26px 26px;
			position: center center;
		}
	}
}