html, body {
	width: 100%;
	height: 100%;
}

.page-container {
	width: 750px;
	height: 100%;
	margin: 0 auto;
	background: #f0f0f0;
	overflow: hidden;
}

.address-wrapper {
	position: relative;
	top: 0;
	left: 0;
	width: 1500px;
	height: 100%;
}

.address-list, .new-address {
	position: absolute;
	top: 0;
	width: 750px;
	height: 100%;
}

/* 收货地址列表 */
.address-list {
	left: 0;
	overflow-y: auto;

	.no-address {
		width: 100%;
		padding-top: 226px;

		> p {
			padding-bottom: 44px;
			font-size: 30px; /* px */
			color: #323232;
			text-align: center;
		}

		.btn-new {
			display: block;
			width: 666px;
			height: 66px;
			margin: 0 auto;
			border: 2px solid #303242;
			font-size: 26px; /* px */
			line-height: 66px;
			color: #303242;
			text-align: center;

			span {
				display: inline-block;
				padding-left: 52px;
				background: {
					image: url('../imgs/icons/icon_new.png');
					repeat: no-repeat;
					size: 37px 37px;
					position: left center;
				}
			}
		}
	}

	.list {
		width: 100%;
		margin-bottom: 100px;

		li {
			position: relative;
			width: 100%;
			padding: 30px 0;
			border-bottom: 1px solid #dcdcdc;
			background-color: #fff;

			&.disabled {
				position: relative;
				z-index: 9;
			}

			&.disabled:after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 99;
				width: 100%;
				height: 100%;
				content: '';
				background-color: rgba(255, 255, 255, 0.5);
			}

			.btn-radio, .btn-edit {
				display: block;
				position: absolute;
				top: 50%;
				width: 90px;
				height: 90px;
				transform: translateY(-50%);
				background: {
					repeat: no-repeat;
					position: center center;
				}
			}
			.btn-radio {
				left: 0;

				&.selected {					
					background: {
						image: url('../imgs/icons/icon_selected.png');
						size: 42px 42px;
					}
				}
			}
			.btn-edit {
				right: 0;
				background: {
					image: url('../imgs/icons/icon_edit.png');
					size: 42px 42px;
				}
			}
			.text {
				display: block;
				width: 570px;
				margin: 0 auto;
				
				p {
					color: #323232;
				}
				.info {
					font-size: 30px; /* px */
					line-height: 40px;
				}
				.addr {
					margin-top: 10px;
					font-size: 24px; /* px */
					line-height: 40px;
					display: -webkit-box; 
					-webkit-box-orient: vertical; 
					-webkit-line-clamp: 2; 
					overflow: hidden;

					.default {
						color: #ef1b47;
					}
				}
			}
		}

		.btn-new {
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 9999;
			width: 750px;
			height: 94px;
			font-size: 30px; /* px */
			line-height: 94px;
			color: #fff;
			text-align: center;
			background-color: #e84e55;

			span {
				display: inline-block;
				padding-left: 52px;
				background: {
					image: url('../imgs/icons/icon_new_white.png');
					repeat: no-repeat;
					size: 37px 37px;
					position: left center;
				}
			}
		}
	}
}

/* 新增收货地址 */
.new-address {
	left: 750px;

	.header {
		position: relative;
		width: 100%;
		height: 90px;
		border-bottom: 1px solid #dcdcdc;

		p {
			width: 100%;
			line-height: 90px;
			font-size: 36px; /* px */
			color: #323232;
			text-align: center;
		}

		.btn-back {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			height: 90px;
			background: {
				image: url('../imgs/icons/icon_back.png');
				repeat: no-repeat;
				size: 42px 34px;
				position: center center;
			}
		}
	}

	.form {
		width: 100%;
		background-color: #fff;
		overflow-x: hidden;

		li {
			width: 690px;
			padding: 30px;
			border-bottom: 1px solid #dcdcdc;

			span, input {
				display: inline-block;
				line-height: 40px;
				font-size: 30px; /* px */
			}

			input {
				border: none;
				outline: none;
				-webkit-appearance: none;
			}

			.title {
				float: left;
				width: 160px;
				color: #323232;
			}
			.content {
				position: relative;
				float: right;
				width: 520px;
				color: #b4b4b4;

				&.navigator {
					position: relative;
				}
				&.navigator:after {
					display: block;
					position: absolute;
					top: 50%;
					right: 0;
					width: 11px;
					height: 21px;
					content: '';
					background: {
						image: url('../imgs/order/arrow_right_bg.png');
						repeat: no-repeat;
						size: 11px 21px;
						position: center center;
					}
					transform: translateY(-50%);
				}
			}
		}
	}

	.btn-save {
		display: block;
		position: absolute;
		bottom: 0;
		right: left;
		z-index: 999;
		width: 750px;
		height: 94px;
		font-size: 30px; /* px */
		line-height: 94px;
		color: #fff;
		text-align: center;
		background-color: #303242;

		span {
			display: inline-block;
			padding-left: 52px;
			background: {
				image: url('../imgs/icons/icon_new_white.png');
				repeat: no-repeat;
				size: 37px 37px;
				position: left center;
			}
		}
	}
}