html, body {
	width: 100%;
	height: 100%;
}

.page-container {
	width: 750px;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	background-color: #f0f0f0;

	.no-order {
		width: 100%;
		height: 100%;
		background: {
			image: url('../imgs/ucenter/no_order_bg.png');
			repeat: no-repeat;
			size: contain;
			position: center center;
		}
	}

	.order-container {
		width: 100%;
		min-height: 100%;
		padding-bottom: 30px;
	}

	img {
		width: 100%;
	}
}

.page-container .order-container {

	.order-list {
		width: 100%;
	}

	.order-item {
		width: 100%;
		margin-top: 30px;
		background-color: #fff;
		border-bottom: 1px solid #dcdcdc;

		.item-header, .item-contaienr, .item-footer {
			width: 100%;
		}

		.item-header {
			border-bottom: 1px solid #dcdcdc;

			p {
				width: 690px;
				height: 70px;
				margin: 0 auto;
				line-height: 70px;
				font-size: 24px; /* px */
				color: #323232;

				span {
					display: inline-block;
				}

				.time {
					float: left;
				}

				.status {
					float: right;
					font-size: 30px; /* px */					
					
					/* 待支付 */
					&.unpay {
						color: #e84e55;
					}
					
					/* 已取消 */
					&.canceled {
						color: #b4b4b4;
					}

					/* 准备中 */
					&.preparing {
						color: #298c22;
					}

					/* 已配送 */
					&.shipped, &.unconfirm {
						color: #313131;
					}
				}
			}
		}

		.item-container {
			width: 710px;
			padding: 44px 0;
			margin: 0 auto;

			.product-item {
				width: 320px;
				height: 240px;
				border: 1px solid #f0f0f0;
				overflow: hidden;
			}
		}

		.item-footer {
			width: 710px;
			margin: 0 auto;
			padding-bottom: 30px;

			.btn {
				display: inline-block;
				float: right;
				min-width: 120px;
				height: 70px;
				margin-left: 20px;
				padding: 0 20px;
				border: 1px solid #969696; 
				line-height: 70px;
				font-size: 30px; /* px */
				text-align: center;
				color: #323232;

				&.active {
					color: #ef1b47;
					border-color: #ef1b47;
				}

				&:last-of-type {
					margin-left: 0;
				}

				i {
					font-style: normal;
				}
			}
		}
	}
}