.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body,
p,
h1,
h2,
h3,
ul,
ol,
dl,
li,
dt,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
}

html,
body {
  width: 100%;
}

body {
  font-family: 'Microsoft YaHei', Arial;
}