<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<!-- flexible.js 建议做内联处理，请勿移动位置 -->
	<script src="assets/plugins/lib-flexible/flexible.js"></script>
	<link rel="apple-touch-icon" href="favicon.png">
	<link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
	<title>购物篮</title>
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/dialog.css">
	<link rel="stylesheet" href="assets/css/global.css">
	<link rel="stylesheet" href="assets/css/basket.css">
</head>
<body>
	
	<!-- basket container begin -->
	<div id="basketContainer">	
		<!-- basket-page notice begin -->
		<div class="basket-notice" id="basketNotice">
			<div class="notice-icon"></div>
			<p class="notice-msg"></p>
			<a href="javascript:;" class="notice-close"></a>
		</div>
		<!-- basket-page notice end -->
		
		<div class="basket-wrapper">
			<!-- empty basket begin -->
			<div class="basket empty">
				<div class="img">
					<img src="assets/imgs/basket/empty_basket.png" alt="">
					<a href="index.html" class="btn-go">现在去逛逛吧</a>
				</div>
			</div>
			<!-- empty basket end -->

			<!-- normal basket begin -->
			<div class="basket normal">
				<!-- basket products begin -->
				<section class="products" id="basketList"></section>
				<!-- basket products end -->

				<!-- basket subtotal begin -->
				<section class="subtotal">
					<ul>
						<li class="clearfix">
							<p class="name">商品总价</p>
							<p class="content">￥398</p>
						</li>
						<li class="clearfix">
							<p class="name">运费</p>
							<p class="content">外环内免运费，外环外25元运费</p>
						</li>
						<li class="clearfix">
							<p class="name">优惠</p>
							<p class="content">-￥60</p>
						</li>
						<li class="clearfix">
							<p class="name">支付价(不含运费)</p>
							<p class="content">￥338</p>
						</li>
					</ul>
				</section>
				<!-- basket subtotal end -->

				<!-- basket parts begin -->
				<section class="parts" id="partsList"></section>
				<!-- basket parts end -->
				
				<!-- payment bar begin -->
				<div class="basket-bar clearfix" id="basketBar">
					<div class="selector clearfix">
						<a href="javascript:;" class="select"></a>
						<p>全选</p>
					</div>
					<div class="text">
						<p class="discount clearfix">已优惠￥68</p>
						<p class="total clearfix">总计：<span><i>￥</i>338</span></p>
					</div>
					<a href="javascript:;" class="btn-pay">去结算</a>
				</div>
				<!-- payment bar end -->
			</div>
			<!-- normal basket end -->		
		</div>
	</div>
	<!-- basket container end -->

	<!-- mask del begin -->
	<div id="maskDel">
		<div class="mask-wrapper">
			<div class="container">
				<p>确认要删除这个商品吗？</p>
			</div>
			<div class="footer clearfix">
				<a href="javascript:;" class="btn-del-cancel">再想想</a>
				<a href="javascript:;" class="btn-del-ok">是的</a>
			</div>
		</div>
	</div>
	<!-- mask del end -->

	<!-- common navbar begin -->
	<div class="navbar clearfix" id="menuNav">
		<a href="index.html" class="link choiceness">
			<div class="img"></div>
			<p>精选</p>
		</a>
		<a href="list.html" class="link discovery">
			<div class="img"></div>
			<p>发现</p>
		</a>
		<a href="basket.html" class="link shopping-basket active">
			<div class="img">
				<span class="num">9</span>
			</div>
			<p>购物篮</p>
		</a>
		<a href="login.html" class="link mine">
			<div class="img"></div>
			<p>我的</p>
		</a>
	</div>
	<!-- common navbar end -->

	<!-- basket list template begin -->
	<script type="text/html" id="tplBasketList">
		<div class="header clearfix">
			<a href="javascript:;" class="select select-all"></a>
			<p>全选</p>
		</div>
		<ul class="list">
		{{each list as item i}}
			{{if item.combination}}
				<li class="item combination">
					<div class="header clearfix">
						<a href="javascript:;" class=" select select-all"></a>
						<p>组合商品</p>
					</div>
					<ul class="list">
						{{each item.list as cItem}}
						<li class="item">
							<div class="wrapper">
								<div class="content clearfix">
									<a href="javascript:;" class="select"></a>
									<div class="img">
										<img src="{{cItem.img}}" alt="">
									</div>
									<div class="text clearfix">
										<div class="basic">
											<p class="name">{{cItem.name}}</p>
											<p class="desc">{{cItem.desc}}</p>
										</div>
										<div class="ext">
											<p class="price">￥{{cItem.price}}</p>
											<p class="num">x{{cItem.num}}</p>
										</div>
									</div>
								</div>
								{{if cItem.hasTag}}
								<div class="footer clearfix">
									<ul class="tags clearfix">
										{{each cItem.tags as tag}}
										<li>{{tag}}</li>							
										{{/each}}
									</ul>									
								</div>
								{{/if}}
							</div>
						</li>
						{{/each}}
					</ul>
					<p class="cbn-price">
						<span class="cnb-original-price">原价：<i>￥{{item.price}}</i></span>
						<span class="cnb-price">活动价：￥{{item.originalPrice}}</span>
					</p>
					<div class="operate">
						<div class="counter clearfix">
							<a href="javascript:;" class="btn-minus">-</a>
							<input type="text" class="count" value="1">
							<a href="javascript:;" class="btn-add">+</a>
						</div>
					</div>
				</li>
			{{else}}
				{{if item.unshelve}}
				<li class="item unshelve">
				{{else if item.soldout}}
				<li class="item soldout">
				{{else}}
				<li class="item">
				{{/if}}
					<div class="wrapper">
						<div class="content clearfix">
							<a href="javascript:;" class="select"></a>
							<div class="img">
								<img src="{{item.img}}" alt="">
							</div>
							<div class="text clearfix">
								<div class="basic">
									<p class="name">{{item.name}}</p>
									<p class="desc">{{item.desc}}</p>
								</div>
								<div class="ext">
									<p class="price">￥{{item.price}}</p>
									<p class="original-price">￥{{item.originalPrice}}</p>
								</div>
							</div>
						</div>
						<div class="footer clearfix">
							{{if item.hasTag}}
							<ul class="tags clearfix">
								{{each item.tags as tag}}
								<li>{{tag}}</li>
								{{/each}}
							</ul>
							{{/if}}
							<div class="operate">
								<div class="counter clearfix">
									<a href="javascript:;" class="btn-minus">-</a>
									<input type="text" class="count" value="1">
									<a href="javascript:;" class="btn-add">+</a>
								</div>
							</div>									
						</div>
					</div>
				</li>
			{{/if}}			
		{{/each}}
		</ul>
		<div class="footer">
			<a href="javascript:;" class="btn-clear">清除失效商品</a>
		</div>
	</script>
	<!-- basket list template end -->

	<!-- parts list template begin -->
	<script type="text/html" id="tplPartsList">
		<h2>· 精美配件 ·</h2>
		<div class="list">
			{{each list as item i}}
			<div class="item" spec="{{item.spec | specFormat}}">
				<div class="img">
					<img src="{{item.img}}" alt="">
				</div>
				<div class="text">
					<p class="name">{{item.name}}</p>
					<p class="price">￥<span>{{item.price}}</span></p>
					<a href="javascript:;" class="add-icon"></a>
				</div>
			</div>
			{{/each}}
		</div>
	</script>
	<!-- parts list template end -->

	<!-- addToCart begin -->
	<div id="addToCart"></div>
	<script id="tplAddToCart" type="text/html">
		<a href="javascript:;" class="cart-close"></a>
		<div class="header">
			<div class="img">
				<img src="{{img}}" alt="">
			</div>
			<div class="text">
				<div class="name clearfix">
					<p class="cn">{{name}}</p>
				</div>
			</div>
			<p class="ext clearfix">
				<span class="dollar">￥</span>
				<span class="price">{{price}}</span>
				<span class="pound">/个</span>
			</p>
		</div>
		<div class="container">
			<!-- 规格 -->
			{{if spec !== ''}}
			<section class="spec clearfix">
				<p class="title">规格：</p>
				<div class="content">
					<ul class="spec-list clearfix">
					{{each spec as item i}}
						{{if i === 0}}
						<li class="active">{{item}}</li>
						{{else}}
						<li>{{item}}</li>
						{{/if}}
					{{/each}}
					</ul>
				</div>
			</section>
			{{/if}}
			<!-- 数量 -->
			<section class="amount clearfix">
				<p class="title">数量：</p>
				<div class="content clearfix">
					<div class="counter clearfix">
						<a href="javascript:;" class="btn-minus disabled">-</a>
						<input type="text" class="count" value="1">
						<a href="javascript:;" class="btn-add">+</a>
					</div>
				</div>
			</section>
		</div>
		<div class="footer">
			<a href="javascript:;" class="btn join-cart">加入购物篮</a>
		</div>
	</script>
	<!-- addToCart end -->

	<!-- scripts begin -->
	<script src="assets/plugins/LABjs/LAB.min.js"></script>
	<script>
		$LAB
		.script('assets/plugins/zepto/zepto.min.js').wait()
		.script('assets/plugins/zepto/touch.js').wait()
		.script('assets/plugins/zepto/fx.js').wait()
		.script('assets/plugins/tweenmax/TweenMax.min.js').wait()
		.script('assets/plugins/liMarquee.js').wait()
		.script('assets/plugins/artTemplate/dist/template.js').wait()
		.script('assets/plugins/underscore/underscore-min.js').wait()
		.script('assets/plugins/dialog2/js/dialog.min.js').wait()
		.script('assets/plugins/fastclick.js').wait()
		.script('assets/js/common.js').wait()
		.script('assets/js/basket.js');
	</script>
	<!-- script end -->
</body>
</html>