<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<!-- flexible.js 建议做内联处理，请勿移动位置 -->
	<script src="assets/plugins/lib-flexible/flexible.js"></script>
	<link rel="apple-touch-icon" href="favicon.png">
	<link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
	<title>发现</title>
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/global.css">
	<link rel="stylesheet" href="assets/css/list.css">
</head>
<body>
	
	<!-- list-page header begin -->
	<header id="listHeader" class="clearfix">
		<div class="c-item active" category="all"><p>全部</p><span></span></div>
		<div class="c-item" category="taste"><p>口味</p><span></span></div>
		<div class="c-item" category="scene"><p>场景</p><span></span></div>
		<div class="c-item" category="gift"><p>创意/礼品</p><span></span></div>
		<div class="c-item" category="flower"><p>下午茶/鲜花</p><span></span></div>
	</header>
	<!-- list-page header end -->

	<!-- list-page container begin -->
	<div id="listContainer" class="clearfix">		
		<!-- all section begin -->
		<section class="sec sec-all active" id="secAll" category="all"></section>
		<!-- all section end -->

		<!-- taste section begin -->
		<section class="sec sec-taste" id="secTaste" category="taste">
			<div class="nav-list">
				<div class="nav-item active" taste="cheese">芝士</div>
				<div class="nav-item" taste="chocolate">巧克力</div>
				<div class="nav-item" taste="mousse">慕斯</div>
				<div class="nav-item" taste="napoleon">拿破仑</div>
				<div class="nav-item" taste="fruit">水果</div>
				<div class="nav-item" taste="milk">鲜奶</div>
				<div class="nav-item" taste="coffee">咖啡</div>
				<div class="nav-item" taste="sugarfree">无糖</div>
			</div>
			<div class="taste-list"></div>
		</section>
		<!-- taste section end -->

		<!-- scene section begin -->
		<section class="sec sec-scene" id="secScene" category="scene"></section>
		<!-- scene section end -->

		<!-- gift section begin -->
		<section class="sec sec-gift" id="secGift" category="gift">
			<div class="diy-cake clearfix">
				<a href="javascript:;" class="img">
					<img src="assets/imgs/list/diy_img.jpg" alt="">
				</a>
				<div class="text">
					<p class="name">翻糖蛋糕定制 DIY CAKE</p>
					<p class="desc">定制创意与梦想，定制只属于你的美好时光。</p>
				</div>
				<a href="javascript:;" class="btn-diy">立即定制</a>
				<div class="tag"></div>
			</div>
			<div class="gift-list"></div>
		</section>
		<!-- gift section end -->

		<!-- flower section begin -->
		<section class="sec sec-flower" id="secFlower" category="flower">
			<div class="flower-list"></div>
		</section>		
		<!-- flower section end -->
	</div>
	<!-- list-page container end -->

	<!-- common navbar begin -->
	<div class="navbar clearfix">
		<a href="index.html" class="link choiceness">
			<div class="img"></div>
			<p>精选</p>
		</a>
		<a href="list.html" class="link discovery active">
			<div class="img"></div>
			<p>发现</p>
		</a>
		<a href="javascript:;" class="link shopping-basket">
			<div class="img">
				<span class="num">9</span>
			</div>
			<p>购物篮</p>
		</a>
		<a href="javascript:;" class="link mine">
			<div class="img"></div>
			<p>我的</p>
		</a>
	</div>
	<!-- common navbar end -->

	<!-- all-template begin -->
	<script id="tplAll" type="text/html">
		<div class="list">
		{{each list as item i}}
			{{if item.soldout}}
			<div class="item soldout">
			{{else}}
			<div class="item">
			{{/if}}
				<a href="{{item.link}}" class="img">
					<img src="{{item.img}}" alt="">
				</a>
				<div class="text">
					<div class="name">
						<p class="cn">{{item.name.cn}}</p>
						<p class="en">{{item.name.en}}</p>
					</div>
					<p class="ext">
						<span class="price">￥{{item.price}}</span>
						<span class="pound">/{{item.pound}}磅</span>
					</p>
					<a href="javascript:;" class="add-icon"></a>
				</div>
			</div>
		{{/each}}
		</div>
	</script>
	<!-- all-template end -->

	<!-- taste-template begin -->
	<script id="tplTaste" type="text/html">
		{{each tastes as taste}}
			<section class="taste-item" taste="{{taste.type}}">
				<h2>· {{taste.title}} ·</h2>
				<div class="list">
				{{each taste.list as item i}}
					{{if item.soldout}}
					<div class="item soldout">
					{{else}}
					<div class="item">
					{{/if}}
						<a href="{{item.link}}" class="img">
							<img src="{{item.img}}" alt="">
						</a>
						<div class="text">
							<div class="name">
								<p class="cn">{{item.name.cn}}</p>
								<p class="en">{{item.name.en}}</p>
							</div>
							<p class="ext">
								<span class="price">￥{{item.price}}</span>
								<span class="pound">/{{item.pound}}磅</span>
							</p>
							<a href="javascript:;" class="add-icon"></a>
						</div>
					</div>
				{{/each}}
				</div>			
			</section>
		{{/each}}
	</script>
	<!-- taste-template end -->
	
	<!-- scene-template begin -->
	<script id="tplScene" type="text/html">
		<div class="list">
		{{each list as item i}}
			<div class="item">
				<a href="{{item.link}}" class="img">
					<img src="{{item.img}}" alt="">
				</a>
				<div class="text">
					<div class="name">
						<p class="en">{{item.name.en}}</p>
						<p class="cn">{{item.name.cn}}</p>
					</div>
					<a href="javascript:;" class="icon-more"></a>
				</div>
			</div>
		{{/each}}
		</div>
	</script>
	<!-- scene-template end -->

	<!-- gift-template begin -->
	<script id="tplGift" type="text/html">
		{{each giftes as gift}}
			<section class="gift-item" gift="{{gift.type}}">
				<h2>· {{gift.title}} ·</h2>
				<div class="list">
				{{each gift.list as item i}}
					{{if item.soldout}}
					<div class="item soldout">
					{{else}}
					<div class="item">
					{{/if}}
						<a href="{{item.link}}" class="img">
							<img src="{{item.img}}" alt="">
						</a>
						<div class="text">
							<div class="name">
								<p class="cn">{{item.name.cn}}</p>
								<p class="en">{{item.name.en}}</p>
							</div>
							<p class="ext">
								<span class="price">￥{{item.price}}</span>
								<span class="pound">/{{item.pound}}磅</span>
							</p>
							<a href="javascript:;" class="add-icon"></a>
						</div>
					</div>
				{{/each}}
				</div>			
			</section>
		{{/each}}
	</script>
	<!-- gift-template begin -->
	
	<!-- flower-template begin -->
	<script id="tplFlower" type="text/html">
		{{each flowers as flower}}
			<section class="flower-item" gift="{{flower.type}}">
				<h2>· {{flower.title}} ·</h2>
				<div class="list">
				{{each flower.list as item i}}
					{{if item.soldout}}
					<div class="item soldout">
					{{else}}
					<div class="item">
					{{/if}}
						<a href="{{item.link}}" class="img">
							<img src="{{item.img}}" alt="">
						</a>
						<div class="text">
							<div class="name">
								<p class="cn">{{item.name.cn}}</p>
								<p class="en">{{item.name.en}}</p>
							</div>
							<p class="ext">
								<span class="price">￥{{item.price}}</span>
								<span class="pound">/{{item.pound}}磅</span>
							</p>
							<a href="javascript:;" class="add-icon"></a>
						</div>
					</div>
				{{/each}}
				</div>			
			</section>
		{{/each}}
	</script>
	<!-- flower-template end -->

	<!-- addToCart begin -->
	<div id="addToCart">	
		<a href="javascript:;" class="cart-close"></a>
		<div class="header">
			<div class="img">
				<img src="assets/imgs/list/cake_thumb.jpg" alt="">
			</div>
			<div class="text">
				<div class="name clearfix">
					<p class="cn">狮心国王</p>
					<p class="en">The Lion-heart King</p>
				</div>
				<p class="note">4-7人食用</p>
			</div>
			<p class="ext clearfix">
				<span class="dollar">￥</span>
				<span class="price">189</span>
				<span class="pound">/1.5磅</span>
			</p>
		</div>
		<div class="container">
			<!-- 规格 -->
			<section class="spec clearfix">
				<p class="title">规格：</p>
				<div class="content">
					<ul class="spec-list clearfix">
						<li class="active">1.5磅</li>
						<li>2.5磅</li>
						<li>3.5磅</li>
						<li>4.5磅</li>
					</ul>
				</div>
			</section>
			<!-- 数量 -->
			<section class="amount clearfix">
				<p class="title">数量：</p>
				<div class="content clearfix">
					<div class="counter clearfix">
						<a href="javascript:;" class="btn-minus disabled">-</a>
						<input type="text" class="count" value="1">
						<a href="javascript:;" class="btn-add">+</a>
					</div>
				</div>
			</section>
		</div>
		<div class="footer clearfix">
			<a href="javascript:;" class="btn buy-immediately">立即购买</a>
			<a href="javascript:;" class="btn join-cart">加入购物篮</a>
		</div>
	</div>
	<!-- addToCart end -->

	<!-- scripts begin -->
	<script src="assets/plugins/LABjs/LAB.min.js"></script>
	<script>
		$LAB
		.script('assets/plugins/zepto/zepto.min.js').wait()
		.script('assets/plugins/tweenmax/TweenMax.min.js').wait()
		.script('assets/plugins/artTemplate/dist/template.js').wait()
		.script('assets/plugins/underscore/underscore-min.js').wait()
		.script('assets/plugins/zepto.uriAnchor.js').wait()
		.script('assets/js/common.js').wait()
		.script('assets/js/list.js');
	</script>
	<!-- script end -->
</body>
</html>