<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta content="telephone=no,email=no" name="format-detection">
	<!-- flexible.js 建议做内联处理，请勿移动位置 -->
	<script src="assets/plugins/lib-flexible/flexible.js"></script>
	<link rel="apple-touch-icon" href="favicon.png">
	<link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
	<title>收货地址</title>
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/plugins/iosselect/iosSelect.css">
	<link rel="stylesheet" href="assets/css/dialog.css">
	<link rel="stylesheet" href="assets/css/global.css">
	<link rel="stylesheet" href="assets/css/order-address.css">
</head>
<body>
	
	<!-- 收获地址 begin -->
	<div class="page-container">		
		<div class="address-wrapper">
			<!-- 地址列表 begin -->
			<div class="address-list" id="addressList"></div>
			<script type="text/html" id="tplAddressList">
				{{if hasAddress}}
				<ul class="list">
				{{each list as item i}}
					{{if item.isDisabled}}
					<li class="disabled clearfix">
					{{else}}
					<li class="clearfix">
					{{/if}}
						{{if item.isSelected}}
						<a href="javascript:;" class="btn-radio selected"></a>
						{{else}}
						<a href="javascript:;" class="btn-radio"></a>
						{{/if}}
						<a href="order-submit.html" class="text">
							<p class="info">
								<span class="name">{{item.info.name}}</span>
								<span class="mobile">{{item.info.mobile}}</span>
							</p>
							<p class="addr">
								<span class="city">{{item.addr.city}}</span>
								<span class="area">{{item.addr.area}}</span>
								<span class="street">{{item.addr.street}}</span>
								<span class="detail">{{item.addr.detail}}</span>
							</p>
						</a>
						<a href="javascript:;" class="btn-edit" action="edit"></a>
					</li>
				{{/each}}
					<a href="javascript:;" class="btn-new" action="new"><span>新增收货地址</span></a>
				</ul>
				{{else}}
				<div class="no-address">
					<p>还没有设置收货地址~</p>
					<a href="javascript:;" class="btn-new" action="first"><span>新增收货地址</span></a>
				</div>
				{{/if}}
			</script>
			<!-- 地址列表 end -->
			<!-- 新增地址 begin -->
			<div class="new-address" id="newAddress">
				<div class="header">
					<p class="title">新增收获地址</p>
					<a href="javascript:;" class="btn-back"></a>
				</div>
				<ul class="form">
					<li class="clearfix">
						<span class="title">收货人</span>
						<input class="content txt-name" placeholder="姓名" />
					</li>
					<li class="clearfix">
						<span class="title">联系电话</span>
						<input class="content txt-mobile" placeholder="手机号码" />
					</li>
					<li class="clearfix">
						<span class="title">选择城市</span>
						<span class="content navigator txt-city" id="showCity">请选择</span>
						<input type="hidden" name="city_id" id="cityId" value="">
					</li>
					<li class="clearfix">
						<span class="title">选择区域</span>
						<span class="content navigator txt-area" id="showArea">请选择</span>
						<input type="hidden" name="area_id" id="areaId" value="">
					</li>
					<li class="clearfix">
						<span class="title">详细地址</span>
						<span class="content navigator txt-street">街道/小区/写字楼</span>
					</li>
					<li class="li-detail clearfix">
						<span class="title">&nbsp;</span>
						<textarea rows="1" data-min-rows="1" class="content txt-detail auto-expand" placeholder="楼号/单元/门牌号"></textarea>
					</li>
				</ul>
				<a href="order-submit.html" class="btn-save">保存并使用</a>
				<a href="order-address.html" class="btn-del">删除</a>

				<!-- 详细地址定位 begin -->
				<div class="detail-form">
					<div class="header">
						<p class="title">新增收获地址</p>
						<a href="javascript:;" class="btn-back"></a>
					</div>
					<div class="form-wrapper">
						<div class="search-box clearfix">
							<input type="text" class="txt-search" placeholder="请输入您要查询的地址">
							<a href="javascript:;" class="btn-clear"></a>
						</div>
						<ul class="result-list">
							<li class="item">
								<a href="javascript:;" class="item-wrapper">
									<div class="text">
										<p class="detail">广中西路777弄99号江裕大厦</p>
										<p>上海市 静安区</p>
									</div>
								</a>
							</li>
							<li class="item">
								<a href="javascript:;" class="item-wrapper">
									<div class="text">
										<p class="detail">广中西路777弄99号江裕大厦</p>
										<p>上海市 静安区</p>
									</div>
								</a>
							</li>
							<li class="item">
								<a href="javascript:;" class="item-wrapper">
									<div class="text">
										<p class="detail">广中西路777弄99号江裕大厦</p>
										<p>上海市 静安区</p>
									</div>
								</a>
							</li>
							<li class="item">
								<a href="javascript:;" class="item-wrapper">
									<div class="text">
										<p class="detail">广中西路777弄99号江裕大厦</p>
										<p>上海市 静安区</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- 详细地址定位 end -->				
			</div>
			<!-- 新增地址 end -->
		</div>
	</div>
	<!-- 收获地址 end -->

	<!-- scripts begin -->
	<script src="assets/plugins/LABjs/LAB.min.js"></script>
	<script>
		$LAB
		.script('assets/plugins/zepto/zepto.min.js').wait()
		.script('assets/plugins/zepto/touch.js').wait()
		.script('assets/plugins/tweenmax/TweenMax.min.js').wait()
		.script('assets/plugins/artTemplate/dist/template.js').wait()
		.script('assets/plugins/dialog2/js/dialog.min.js').wait()
		.script('assets/plugins/fastclick.js').wait()
		.script('assets/plugins/iosselect/adaptive.js').wait()
		.script('assets/plugins/iosselect/iscroll.js').wait()
		.script('assets/plugins/iosselect/iosSelect_rem.js').wait()
		.script('assets/js/common.js').wait()
		.script('assets/js/order-address.js');
	</script>
	<!-- script end -->
</body>
</html>